html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.hr-style
{
    border: 5px dotted white;
    border-bottom: none;
     margin: auto;
    width: 100px;
}
a{
    text-decoration: none;

}

/* headerStart */
header{
    background-image: url("img/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background: rgba(43, 42, 41, 0.5);

}
.navfocus:focus{
    box-shadow: none;
}
#logo{
    width: 90px;
    height: auto;
}
.nav-link{
    color: #ffff;
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s;
    
}
.nav-link:hover{
    background-color: aliceblue;
}



/* banner */
.banner_main{
    height: 100vh;
}

.banner_main h1{
    font-size: 3.4rem;
    /* background-image: linear-gradient(315deg, #5c6e6e 0%, #43683b 74%); */
    padding: 0px 10px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
}

/* main{
    height: 100vh;
} */


/* main */
.features_div{
    transition: 0.5s;
}
.features_div:hover{
    transform: scale(1.08);

}



/* about_details */

.personal p{
    margin-bottom: 2px;
}

/* skills*/
.skills tr td span{
    margin-left: 20px;
    color: #ceb900;
}
.card{
    border: none;
    transition: .4s;
}
.card:hover{
    transform: scale(1.04);
}
.card-p{
    padding: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}
/* carusel */
/* .carusel{
    margin-top: 10%;
} */
.carousel-item{
    padding: 5% 10%;
}

@media only screen and (max-width: 600px) {
  .banner_main h1{
    font-size: 2.6rem;
  }
  }